body {
  background: rgb(29,29,223);
  background: linear-gradient(12deg, rgba(29,29,223,1) 1%, rgba(27,27,200,1) 4%, rgba(108,28,134,1) 95%);
  }
  
.center-card {
width: 300px;
  height: 150px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.center-card input {
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 10px;
}

button {
  border-radius: 5px;
  background-color: rgb(54, 107, 253);
  border: none;
  color: white;
  font-weight: bolder;
  width: 70px;
  height: 30px;
}
