.card {
  padding: 1.5%;
  min-height: 30%;
  max-width: 25%;
}

.container {
  height: 100%;
  flex: 1 1 auto;
  margin: 0 auto;
  display: block;
}

input {
  display: block;
  min-width: 80%;
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 2%;
}

button {
  margin-left: 7%;
}

.block {
  display: inline-block;
}

p {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}