p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bolder;
  color: rgba(0, 68, 255, 0.678);
  margin-top: 0;
  margin-left: 25%;
  margin-bottom: 5%;
}

.card {
  padding: 2%;
  min-width: 15%;
  max-height: 15%;
  min-height: 15%;
}

button {
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 1%;
  min-width: 30%;
}
